#wrapper{
  width: 600px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 1.2em;
}
input{
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid grey;
  margin-bottom: 10px;
}
label{
  width: 200px;
  float: left;
  padding-top: 7px;
}
#submitButton{
  height: 50px;
  margin-left: 200px;
  width: 100px;
}

#error{
  color: red;
  margin: 20px;
}
